<%= render "hero"%>

<section class="product-page spad pb-0 mt-3 ">
  <div class="container product__page__title">
    <div class="row">
      <div class="col-lg-12">
        <div class="product__page__content">
          <div class="product__page__title">
            <div class="row">
              <div class="col-lg-8 col-md-8 col-sm-6">
                <div class="section-title">
                  <h4>Mangas du moment</h4>
                </div>
              </div>
            </div>
          </div>
          <%= render "last_book" %>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render "reinforcement_section"%>

<%=  render "carousel" %>

<section class="product-page spad pb-0 mb-5">
  <div class="container product__page__title">
    <div class="row">
      <div class="col-lg-12">
        <div class="product__page__content">
          <%= render partial: "books/title", locals: {title_contents: "Où nous trouver" } %>
          <div class="container">
            <div class="row">
              <%= render "layouts/maps" %>
              <%= render "layouts/shop_infos"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


