<h1 class =" text-white">Homepage</h1>

<h2 class = "text-white">Ceci sera notre homepage</h2>

<!-- Boutons à supprimer une fois navbar créée-->
<br>
<p class = "text-white">--------------------------------------------</p>
<%= link_to "S'inscrire_test", new_user_registration_path, class:"text-white"%>
<br>
<br>
<%= link_to "Se_connecter_test", new_user_session_path, class:"text-white"%>
<br>
<br>
<%= button_to "Se déconnecter", destroy_user_session_path, method: :delete, data: {turbo_method: :delete}, :class=>"text-grey" %>
<br>
<p class = "text-white">--------------------------------------------</p>
<!-- End -->

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to "Show this book", book %>
    </p>
  <% end %>
</div>

<%= link_to "New book", new_book_path %>

