<div class="m-5">
  <h2>Mettre à jour mon profil</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password %> <i>(Laissez vide si mot de passe inchangé)</i><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> caractères minimum</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i>(Nous avons besoin de votre mot de passe actuel pour confirmer les modifications)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <br>
    <div class="actions">
      <%= f.submit "Mettre à jour" %>
    </div>
  <% end %>

  <br>

  <div>Unhappy? <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Êtes-vous certain.e ?", turbo_confirm: "Êtes-vous certain.e ?" }, method: :delete %></div>

  <%= link_to "Retour", :back %>
</div>