<div class="container text-center mt-5">
    <!-- <div class="d-inline-block">
        <%= form_with url: search_show_path, method: :get, local: true, class: "d-flex align-items-center mb-3" do |form| %>
            <%= form.text_field :query, value: @query, placeholder: "Cherchez livres et evenements", class: "form-control me-2" %>
            <%= form.submit "chercher", class: "site-btn btn-outline-success" %>
        <% end %>
    </div>--->
    <h2> Resultats de la recherche : <%= @query %></h2>
</div> 

<%= render 'book_results' %>
<%= render 'event_results' %>