<!DOCTYPE html>
<html class="h-auto" lang="fr">
  <head>
    <title>MCBD | Mon profil</title>
  </head> 
  <section class="gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
          <div class="">
            <div class="rounded-top text-white color-nav">
              <div class="container py-4">
                <div class="row align-items-center">
                  <h2 class="text-center mb-4 pb-4 product__page__title"> Mon profil </h2>
                  <div class="col-12 col-md-4 text-center text-md-start">
                    <img src="https://res.cloudinary.com/dgsiwrjpp/image/upload/v1702646683/logo2.png"
                      alt="Image générique d'un utilisateur" class="img-fluid mt-2 mb-2"
                      style="width: 230px; z-index: 1; background: none;">            
                  </div>
                  <div class="col-12 col-md-8 text-start text-md-start">
                    <h5 class="pe-none"><span class="text-light">Nom : </span><%= @user.first_name %> <%= @user.last_name %></h5>
                    <h5 class="pe-none mt-2"><span class="text-light"> Email : </span><%= @user.email %></h5>
                    <% if @user.birthday.present? %>
                      <h5 class="pe-none mt-2"><span class="text-light">Date de naissance : </span><%= l(@user.birthday, format: "%A %e %B %Y") %></h5>
                    <% end %>
                    <div class="text-start">
                      <%= link_to "Modifier mon profil", edit_user_path(@user), class:"site-btn mt-4" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body p-4 color-dropdown">
              <%= render 'buyed_books' %>
              <%= render 'subscribed_events' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>  
</html>