  <section class="anime-details spad">
    <div class="container ">
      <div class="anime__details__content ">
        <div class="row d-flex justify-content-center">
          <h1> Mon profil</h1>
        </div>
          <div class="col-lg-3 ">
            <div class="anime__details__text">
              <div class="anime__details__title">
                <h3> <%= @user.first_name %> </h3>
                  <span><%= @user.last_name %></span>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="anime__details__text">
              <div class="anime__details__title">
                <h3><%= @user.email %></h3>
                  <span><%= @user.birthday %></span>
              </div>
              <%= link_to "Editer mon mot de passe", edit_user_registration_path(@user) %>
              <br>
              <%= link_to "Editer mon profil", edit_user_path(@user) %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>