<% @events.each do |event| %>
  <div class="col">
    <div class="card anime__review__item__text shadow-sm text-center">
      <%= link_to event_path(event) do %>
        <h4 class="mb-3" style="height: 80px; overflow: hidden;"><%= event.title %></h4>
        <%= image_tag(event.image_url, class: " set-bg", data: { setbg: event.image_url }, alt: "Description de l'image") %> 
      <% end %>       
      <div class="card-body px-0">
        <p class="card-text text-white text-start card-description" data-truncate="80"><%= event.description %></p>
        <div class="d-flex justify-content-around align-items-center mt-4">
          <%= link_to "Voir l'évènement", event_path(event), class:"btn btn-sm btn-outline-secondary"%>
          <small class="text-light">Le <%= event.start_date %></small>
        </div>
      </div>
    </div>
  </div>
<% end %>