<div class="row">

  <div class="col-lg-3">
    <%= image_tag(@book.image_url, class: "anime__details__pic set-bg", data: { setbg: @book.image_url }, alt: "Couverture de : #{@book.title}") %>           
  </div>

  <div class="col-lg-9">
    <!--Book title section-->
    <div class="anime__details__text">
      <div class="anime__details__title">
        <h3><%= @book.title %></h3>
        <span><%= @book.author %></span>
      </div>
      <div class = "book" data-truncate="180">
        <p id= "synopsis" class = ""><%= @book.description%></p>
      </div>
    </div>

    <!--Infos section-->
    <div class="anime__details__widget">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <ul>
            <li><span>Type:</span> <%= @book.category.name %></li>
            <li><span>Editeur:</span> <%= @book.editor.name %></li>
            <li><span>Date:</span> <%= @book.release_date%> </li>
          </ul>
        </div>
        <div class="col-lg-6 col-md-6">
          <ul>
            <li><span>ISBN:</span><%= @book.isbn%> </li>
            <li><span>Disponibilité:</span> Oui </li>
          </ul>
        </div>
      </div>
      <div class="row">                 
        <h2><%= number_to_currency(@book.price_code.price, unit: "€", separator: ",", delimiter: "", format: "%n %u") %><h2>
      </div>
    </div>
    
    <%= render 'button'%>
  </div>
  
</div>