<div class="anime__details__btn">
  <div class="row mb-5">
    <%= form_tag(joint_table_cart_books_path, method: :post, class: "d-flex align-items-end text-white") do %>
      <div class="col-lg-2 mb-lg-0 mb-2">
        <%= hidden_field_tag :book_id, @book.id %>
        <label for="quantity" class="ml-2">Quantité:</label>
        <%= number_field_tag :quantity, 1, min: 1, class: "form-control mb-2 ml-2 w-100" %>
      </div>
      <div class="col-lg-3">
        <%= submit_tag "Ajout au panier", class: "add-to-cart-button btn add-to-cart-button:hover" %>
      </div>
    <% end %>
    <div class="anime__details__btn">
    <div class="ml-3">
      <%= button_to "Achat express", checkout_create_path(total: @book.price_code.price * params[:quantity].to_i), method: :post, class: "add-to-cart-button btn add-to-cart-button:hover btn", data: { turbo: false } %>
    </div>
  </div>
</div>


       <!--boutons de travail NELLY

  <%= form_tag(joint_table_cart_books_path, method: :post, class: "add-to-cart-form") do %>

    <%= hidden_field_tag :book_id, @book.id %>
    <label for="quantity">Quantité :</label>
    <%= number_field_tag :quantity, 1, min: 1 %>
    <%= submit_tag "Ajout au panier Nelly 2", class: "add-to-cart-button" %>
  <% end %>-->