<div class="animedetailsbtn">
  <div class="row mb-5">
    <%= form_tag(joint_table_cart_books_path, method: :post, class: "d-flex align-items-end text-white") do %>
      <div class="col-lg-2 mb-lg-0 mb-2">
        <%= hidden_field_tag :book_id, @book.id %>
        <label for="quantity" class="ml-2">Quantité:</label>
        <%= number_field_tag :quantity, 1, min: 1, class: "form-control mb-2 ml-2 w-100" %>
      </div>
      <div class="col-lg-3">
        <%= submit_tag "Ajouter au panier", class: "site-btn" %>
      </div>
    <% end %>
    <div class="ml-3">
      <% if user_signed_in? %>
        <%= button_to "Achat express pour 1 livre", express_checkout_path(book_id: @book.id, quantity: params[:quantity], user_id: current_user.id, total: @book.price_code.price), method: :post, class: "site-btn-second", data: { turbo: false } %>
      <% else %>

        <%= button_to "Achat express : connectez-vous", new_user_session_path, class: "site-btn-second" %>

      <% end %>
    </div>
</div>
