<p style="color: green"><%= notice %></p>

<%= render @book %>

<div>
  <%= link_to "Edit this book", edit_book_path(@book) %> |
  <%= link_to "Back to books", books_path %>

  <%= button_to "Destroy this book", @book, method: :delete %>
  <%= button_to "Ajout au panier Nelly", join_table_cart_books_path(book_id: @book.id), method: :post, class: "add-to-cart-button" %>
</div>
