<tr id="<%= dom_id(cart_book) %>">
  <td><%= cart_book.book.title %></td>
  <td>
    <%= form_for(cart_book, url: joint_table_cart_book_path(cart_book), method: :patch, remote: true) do |f| %>
      <%= f.number_field :quantity, value: cart_book.quantity, min: 1 %>
      <%= f.submit "Mettre à jour", class: "btn " %>
    <% end %>
  </td>
  <td><%= number_with_precision(cart_book.book.price_code.price, precision: 2) %></td>
  <td><%= number_with_precision(cart_book.quantity * cart_book.book.price_code.price, precision: 2) %></td>
  <td>
    <%= button_to "Supprimer du panier", joint_table_cart_book_path(cart_book), class: "btn btn-danger", method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer ce livre du panier?" } %>
  </td>
</tr>