<!DOCTYPE html>
<html class="h-auto" lang="fr">
  <head>
    <title>MCBD | Mon panier</title>
  </head>  

  <div class="mt-5 container">
    <h1 class="text-white d-flex justify-content-center product__page__title">Mon panier</h1>

    <% if @joint_table_cart_books.present? %>
      <section class="h-100">
        <div class="container h-100 py-5">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">

              <div class="table-responsive"  style="border-radius: 16px;" >
                <table class="table table-dark">
                  <thead>
                    <tr>
                      <th scope="col" class="h5 color-title-table py-4 pl-4">Articles dans mon panier</th>
                      <th scope="col" class="color-title-table py-4">Prix à l'unité</th>
                      <th scope="col" class="color-title-table py-4">Quantité</th>
                      <th scope="col" class="color-title-table py-4">Prix total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%= render partial: 'cart_book', collection: @joint_table_cart_books %>
                  </tbody>
                </table>
              </div>


              <div class="color-dropdown mb-5 pb-4">
                <div class="card-body p-4">

                  <div class="float-end">
                    <p class="mb-0 me-5 d-flex align-items-center">
                      <span class="small text-white text-muted me-2">Montant de votre panier:</span> 
                      <span class="lead fw-normal cart-total"><%= number_with_precision(@cart.total_price, precision: 2) + "€" %></span>
                    </p>
                  </div>

                </div>
              </div>
              <div class="d-flex justify-content-end gap-3">
                <%= render 'carts/continue_shopping'%>
                <%= render 'carts/payment_button'%>
              </div>
            </div>
          </div>
        </div>
      </section>
    <% else %>
      <div class="text-center">
        <p>Votre panier est vide.</p>
        <%= render 'carts/continue_shopping' %>
      </div>
    <% end %>
  </div>
</html>

