<!DOCTYPE html>
<html class="h-auto" lang="fr">
  <head>
    <title>MCBD | Connexion</title>
  </head>
  <section class="container my-auto py-5">
    <div class="row">
      <div class="col-sm-12 col-lg-8 col-xl-6 m-auto">
        <div class="card border-0 shadow">
          <div class="card-body header">
            <div class="margin-top-sign text-center">
              <h2 class="fw-bold text-white">Connexion</h2>
              <p class="mt-1 mb-4 text-light">Accède à MCBD dès maintenant !</p>
            </div>
            <div class="mb-4">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
                <div class="margin-top-form form-floating my-3 w-75 mx-auto">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control", id:"floatingEmail"  %>
                  <label for="floatingEmail">Email</label>
                </div>

                <div class="form-floating mb-3 w-75 mx-auto">
                  <%= f.password_field :password, autocomplete: "current-password", placeholder:"Mot de passe", class:"form-control", id:"floatingPassword"%>
                  <label for="floatingPassword">Mot de passe</label>
                </div>

                <div class="row mb-3">
                  <div class="col-6">
                    <div class="custom-control custom-checkbox d-flex align-items-center text-muted">
                      <% if devise_mapping.rememberable? %>
                        <div class="field">
                          <%= f.check_box :remember_me, class:"custom-control-input mx-2", id:"rememberMe" %>
                          <label for="rememberMe" class="custom-control-label">Se rappeler de moi</label>
                        </div>
                      <% end %>
                    </div>
                  </div>

                  <div class="col-6 text-end">
                    <a class="float-right" href="/users/password/new">Mot de passe oublié?</a>
                  </div>
                </div>

                <div class="d-flex justify-content-center mt-5">
                  <%= f.submit "Se connecter", class: "site-btn w-50 p-2 mx-auto d-block" %>
                </div>
                <p class="text-center text-muted mt-5 mb-0">Pas encore de compte ? <a href="/users/sign_up" class="fw-bold text-light"><u>Inscris-toi</u></a></p> 
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</html>