<div class="dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton1"
  role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fas fa-user"></i>
  </a>
  <ul class="dropdown-menu color-dropdown dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
    <% if user_signed_in? %>
      <li>
        <%= link_to "Mon Compte", user_path(current_user), class:"dropdown-item"%>
      </li>
      <% if current_user.is_admin? &&  %>
        <li>
          <%= link_to "Tableau de bord (Admin)", admin_root_path(current_user), class:"dropdown-item"%>
        </li>
      <% end %>
      <li><hr class="dropdown-divider" /></li>
      <li>
        <%= button_to "Se déconnecter", destroy_user_session_path, method: :delete, data: {turbo_method: :delete}, :class=>"dropdown-item btn-deconnect" %>
      </li>
    <% else %>
      <li>
        <%= link_to "Se connecter", new_user_session_path, class:"dropdown-item"%>
      </li>
      <li>
        <%= link_to "S'inscrire", new_user_registration_path, class:"dropdown-item"%>
      </li>
    <% end %>
  </ul>
</div>