<% if user_signed_in? %>
  <li class="nav-item">
    <% if current_user.is_admin? &&  %>
      <%= link_to "Dashboard Admin", admin_root_path(current_user), class:"nav-link"%>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to "Mon compte", user_path(current_user), class:"nav-link"%>
  </li>
  <li class="nav-item">
    <%= link_to "Mon panier", cart_path(current_user), class: "nav-link"%>
  </li>
<% else %>
  <li class="nav-item">
    <%= link_to "Se connecter", new_user_session_path, class:"nav-link"%>
  </li>
  <li class="nav-item">
    <%= link_to "S'inscrire", new_user_registration_path, class:"nav-link"%>
  </li>
<% end %>