<nav class="navbar color-nav navbar-dark sticky-top">
  <div class="container-fluid">
    <%= render "layouts/navbar_toggler" %>

    <!-- Navigation Section -->
    <%= render "layouts/sidebar" %>
    <div class="navbar-brand nav d-flex">
      <!--Searchbar-->
      <form class="d-flex mt-3" action="<%= search_path %>" method="get" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
    

    <!--Logo secto-ion-->
    <%= render "layouts/logo"%>

    <div class="navbar-brand">
      <ul class="navbar-nav d-flex flex-row gap-4 me-4">
        <%= render "layouts/cart_icon" %>
        <%= render "layouts/searchbar" %>
        <!-- Icon dropdown -->
        <li class="nav-item me-3 me-lg-0 dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user"></i>
          </a>
          <ul class="dropdown-menu color-dropdown">
            <% if user_signed_in? %>
              <li>
                <%= link_to "Mon Compte", user_path(current_user), class:"dropdown-item"%>
              </li>
              <% if current_user.is_admin? &&  %>
                <li>
                  <%= link_to "Dashboard Admin", admin_root_path(current_user), class:"dropdown-item"%>
                </li>
              <% end %>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <%= button_to "Se déconnecter", destroy_user_session_path, method: :delete, data: {turbo_method: :delete}, :class=>"dropdown-item btn-deconnect" %>
              </li>
            <% else %>
              <li>
                <%= link_to "Se connecter", new_user_session_path, class:"dropdown-item"%>
              </li>
              <li>
                <%= link_to "S'inscrire", new_user_registration_path, class:"dropdown-item"%>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>