<nav class="header navbar-dark sticky-top" aria-label="Dark offcanvas navbar">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <%= render 'layouts/sidebar' %>
    <a class="navbar-brand" href="/">LOGO</a>
    <div class="navbar-brand">
      <ul class="navbar-nav d-flex flex-row gap-4 me-4">
        <!-- Icons -->
          <li class="nav-item me-3 me-lg-0">
            <% if current_user && current_user.cart.present? %>
              <%= link_to cart_path(current_user.cart), class: "nav-link" do %>
                <i class="fas fa-shopping-cart"></i>
                <span class="badge rounded-pill bg-danger">
                  <%= current_user.cart.joint_table_cart_books.sum(:quantity) %>
                </span>
              <% end %>
            <% elsif session[:cart].present? %>
              <%= link_to cart_path(session[:cart]), class: "nav-link" do %>
                <i class="fas fa-shopping-cart"></i>
                <span class="badge rounded-pill bg-danger">
                  <%= JointTableCartBook.where(cart_id: session[:cart]).sum(:quantity) %>
                </span>
              <% end %>
            <% else %>
              <%= link_to root_path, class: "nav-link" do %>
                <i class="fas fa-shopping-cart"></i>
              <% end %>
            <% end %>
          </li>
          <a class="nav-link" href="#">
              <i class="fa-solid fa-magnifying-glass"></i>
          </a>
        </li>
        <!-- Icon dropdown -->
        <li class="nav-item me-3 me-lg-0 dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user"></i>
          </a>
          <ul class="dropdown-menu color-dropdown" aria-labelledby="navbarDropdown">
            <% if user_signed_in? %>
              <li>
                <%= link_to "Mon Compte", user_path(current_user), class:"dropdown-item"%>
              </li>
              <% if current_user.is_admin? &&  %>
                <li>
                  <%= link_to "Dashboard Admin", admin_root_path(current_user), class:"dropdown-item"%>
                </li>
              <% end %>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <%= button_to "Se déconnecter", destroy_user_session_path, method: :delete, data: {turbo_method: :delete}, :class=>"dropdown-item btn-deconnect" %>
              </li>
            <% else %>
              <li>
                <%= link_to "Se connecter", new_user_session_path, class:"dropdown-item"%>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= link_to "S'inscrire", new_user_registration_path, class:"dropdown-item"%>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>