<nav class="navbar color-nav navbar-dark sticky-top">
  <div class="container-fluid d-flex justify-content-between">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas color-nav offcanvas-start" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <div id="offcanvasWithBothOptionsLabel"></div>
        <button type="button" class="btn shadow-none" data-bs-dismiss="offcanvas" aria-label="Close">
          <i class="fa-solid fa-xmark fa-xl" style="color: #ffffff;"></i>
        </button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 ">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Accueil</a>
          </li>
          <li class="nav-item">
            <%= link_to "Librairie", books_path, class:"nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to "Événements", events_path, class:"nav-link"%>
          </li>
          <% if user_signed_in? %>
            <li><hr class="dropdown-divider" /></li>
            <li class="nav-item">
            <% if current_user.is_admin? &&  %>
              <%= link_to "Dashboard Admin", admin_root_path(current_user), class:"nav-link"%>
              <% end %>
              <%= link_to "Mon compte", user_path(current_user), class:"nav-link"%>
              <%= link_to "Mon panier", cart_path(current_user), class: "nav-link"%>
              
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    
    <div class="d-none d-md-flex">
      <div class="position-absolute top-50 start-50 translate-middle">
        <a class="navbar-brand mx-auto" href="/">
          <%= image_tag('logo2.png', alt: 'Description de l\'image', class: 'logo-img') %>
        </a>
      </div>
      <div class="navbar-brand nav d-flex">
        <!-- Cart Icon -->
        <% if current_user %>
              <% cart = current_user.cart %>
              <%= link_to cart_path(cart), class: "nav-link" do %>
                <i class="fas fa-shopping-cart"></i>
                <span class="badge rounded-pill bg-danger">
                  <%= cart.number_of_books_in_cart %>
                </span>
              <% end %>
            <% elsif session[:cart_id].present? %>
              <% cart = Cart.find(session[:cart_id]) %>
              <%= link_to cart_path(cart), class: "nav-link" do %>
                <i class="fas fa-shopping-cart"></i>
                <span class="badge rounded-pill bg-danger">
                  <%= cart.number_of_books_in_cart %>
                </span>
              <% end %>
            <% else %>
              <%= link_to cart_path, class: "nav-link" do %>
                <i class="fas fa-shopping-cart"></i>
              <% end %>
            <% end %>

        <!-- Search Bar -->
        <a class="nav-link" href="#">
          <i class="fa-solid fa-magnifying-glass"></i>
        </a>

        <!-- User Dropdown -->
        <div class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton1"
          role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user"></i>
          </button>
          <ul class="dropdown-menu color-dropdown dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
            <% if user_signed_in? %>
                <li>
                  <%= link_to "Mon Compte", user_path(current_user), class:"dropdown-item"%>
                </li>
                <% if current_user.is_admin? &&  %>
                  <li>
                    <%= link_to "Dashboard Admin", admin_root_path(current_user), class:"dropdown-item"%>
                  </li>
                <% end %>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <%= button_to "Se déconnecter", destroy_user_session_path, method: :delete, data: {turbo_method: :delete}, :class=>"dropdown-item btn-deconnect" %>
                </li>
              <% else %>
                <li>
                  <%= link_to "Se connecter", new_user_session_path, class:"dropdown-item"%>
                </li>
                <li>
                  <%= link_to "S'inscrire", new_user_registration_path, class:"dropdown-item"%>
                </li>
              <% end %>
            </ul>
        </div>
      </div>
    </div>
  </div>
</nav>